<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www,thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>

</head>
<div layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}"><i class="bi bi-house-door"></i></a></li>
        </ol>
    </nav>

    <form th:action="@{/password_edit_process}"  th:object="${passwordForm}" method="post">

        <div class="row">
            <div class="col-7 ">
                <div class="mb-3">
                    <label  class="form-label">고유 번호</label>
                    <input  th:field="*{originalId}" type="text" class="form-control" readonly >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7 ">
                <div class="mb-3">
                    <label  class="form-label">변경 비밀번호 입력</label>
                    <input th:field="*{password}" type="text" class="form-control">
                    <div class="validation_errors" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
            </div>
        </div>

            <button type="submit" class="btn btn-primary mb-3" value="회원 정보 수정">비밀번호 변경</button>
        <a th:href="@{/userinfo}">
            <button type="button"  class="btn btn-primary mb-3" value="취소">취소</button></a>

        <br>
     <span class="mt-2">비밀번호 변경 후 변경된 비밀번호로 다시 로그인 해 주세요.</span>







    </form>

</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" data-bs-delay ="2000" class="toast hide" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <strong class="me-auto">문제 은행</strong> <small>2초 후 자동 사라짐</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast_message">Hello, world! This is a
            toast message.</div>
    </div>
</div>

</div>

<th:block layout:fragment="extra_script">
    <script type="text/javascript"  th:inline="javascript">
        /*<![CDATA[*/
		var toast_message = [[${toast_message}]];

		if(toast_message != null && toast_message != "") {
			document.getElementById('toast_message').textContent = toast_message;

			var toast = document.getElementById('liveToast');
			var bsToast = new bootstrap.Toast(toast);

			bsToast.show();
		}
		/*]]>*/
    </script>
</th:block>
</html>